<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head") %>
  <title>Home page</title>
</head>

<body id="bg-img">
  <header>
    <div class="menu-container">
      <%- include("../partials/menu") %>
    </div>
  </header>
  <main id="home">
    <h1 class="lg-heading">Jesse <span class="text-secondary">Hoed</span></h1>
    <h2 class="sm-heading">
      Web Dev, Programmer, Designer & Software Engineer
    </h2>
    <div class="icons">
      <a href="#!">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="#!">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="#!">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="#!">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div>
  </main>
</body>

</html>